PORT=3005
NODE_ENV=development

DATABASE_URL="mysql://sarc2:sarc2password@mysql:3306/reserva_db"

SALA_SERVICE_URL=http://sala-service:3003
EQUIPAMENTO_SERVICE_URL=http://equipamento-service:3004
PROFESSOR_SERVICE_URL=http://professor-service:3002

CORS_ORIGIN=http://localhost:5173
LOG_LEVEL=info
