PORT=3006
NODE_ENV=development

PROFESSOR_SERVICE_URL=http://professor-service:3002
SALA_SERVICE_URL=http://sala-service:3003
EQUIPAMENTO_SERVICE_URL=http://equipamento-service:3004
RESERVA_SERVICE_URL=http://reserva-service:3005

CORS_ORIGIN=http://localhost:5173
LOG_LEVEL=info
